-# variables --------------------
:ruby
  calcList = %w[FoxCalc Standard Symplectic]

-# title ------------------------
%blockquote Top page

-# list ------------------------- 
%h4 Choose a calculator

%ul{ :class => "list-group" }
  - calcList.each do |name|
    %li{ :class => "list-group-item" } 
      %a{ :href => "/#{name}" }= name
             
-# End of file -------------------------
