-# variables --------------------
:ruby

-# title ------------------------
%blockquote Top page

-# list -------------------------
%h4 Choose a calculator

%ul{ :class => "list-group" }
  - @calc_list.each do |name|
    %li{ :class => "list-group-item" }
      %a{ :href => "/#{name}" }= name

-# End of file -------------------------
