<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Magnus Expansion Calculator</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <!-- <script src="main.js" type="text/javascript"></script> -->
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"> Magnus Expansion Calculator</a>
        </div>
      </div>
    </div>
    <br><br><br>
    
    <div class="container">
      <%= yield %>
      <p>
	<a href="http://localhost:4567/FoxCalc">Foxcalc</a>
	<a href="http://localhost:4567/Standard">Standard</a>
      </p>
    </div>
    
  </body>
  
</html>
