<!DOCTYPE html>
<html lang="ja">
      <head>
      <meta charset="utf-8">
      <title>Magnus Expansion Calculator</title>
      </head>
      <body>
      <link href="styles.css" type="text/css" rel="stylesheet" />
<!-- <script src="main.js" type="text/javascript"></script> -->
      <h1>Magnus Expansion Calculator</h1>
      <%= yield %>
      <p>
	<a href="http://localhost:4567/FoxCalc">Foxcalc</a>
	<a href="http://localhost:4567/Standard/">Standard</a>
      </p>
      </body>
</html>

