!!! 5
%html{ :lang => "en" }
  -# variables -------------------------
  :ruby
    cssList = ["bootstrap.min.css",
               "sticky-footer-navbar.css",
               "bs-docs-example.css"]
    pageList = ["FoxCalc", "Standard", "Symplectic"]

  -# header ----------------------------
  %head
    %meta{ :charset => "utf-8" }
      %title Magnus Expansion Calculator
      - cssList.each do |css_file|
        %link{ :href => "/css/#{css_file}", :type => "text/css", :rel => "stylesheet" }

  -# body ------------------------------ 
  %body
    %nav{ :class => "navbar navbar-default navbar-fixed-top", :role => "navigation" }
      .container
        .navbar-header
          %a{ :class => "navbar-brand", :href => "/" } 
            %strong Magnus Expansion Calculator
        #navbar{ :class => "collapse navbar-collapse" }
          %ul{ :class => "nav navbar-nav" }
            - pageList.each do |name|
              %li 
                %a{ :href => "/#{name}" }= name 

    -# yield ----------------------------
    .container= yield

  -# footer ---------------------------
  %footer{ :class => "footer" }
    .container
      %p{ :class => "text-muted" }= Time.now

  -# scripts --------------------------
  %script{ :src => "http://code.jquery.com/jquery-1.10.1.min.js" }
  %script{ :src => "/js/bootstrap.js" }
             
-# End of file -------------------------
