<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Magnus Expansion Calculator</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  
  <body>
    <!-- <script src="main.js" type="text/javascript"></script> -->
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"> Magnus Expansion Calculator</a>
        </div>
      </div>
    </div>
    <br><br><br>
    
    <div class="container">
      <div class="links">
	<a href="/FoxCalc" class="btn btn-info">Foxcalc</a>
	<a href="/Standard" class="btn btn-info">Standard</a>
	<a href="/Grouplike" class="btn btn-info">Group-like</a>
      </div>
      <br>
      
      <%= yield %>
    </div>
    
  </body>
  
</html>
