<!DOCTYPE html>
<html lang="ja">
      <head>
      <meta charset="utf-8">
      <title>Magnus Expansion Calculator</title>
      </head>
      <body>
      <link href="styles.css" type="text/css" rel="stylesheet" />
      <h1>Magnus Expansion Calculator</h1>
      <%= yield %>
      <p>
	<a href="http://localhost:4567/form">form</a>
	<a href="http://localhost:4567/FoxCalc/a/a">Foxcalc</a>
	<a href="http://localhost:4567/Standard/a">Standard</a>
      </p>
      </body>
</html>

