-# ----------------------------------------------
-#        app/view/symplectic.haml
-# Time-stamp: <2016-02-27 08:47:07 (ryosuke)>
-# ----------------------------------------------
-# variables --------------------
:ruby
  @clist = %w[log2 ellab]
-# title ------------------------
%blockquote Symplectic Expansion

-# list -------------------------
%h4 Choose a calculator

%ul{ :class => "list-group" }
  - @clist.each do |name|
    %li{ :class => "list-group-item" }
      %a{ :href => "/Symplectic/#{name}" }= name

-# End of file -------------------------
