/ ----------------------------------------------
/        app/view/symplectic.haml
/ Time-stamp: <2016-04-02 02:39:06 (ryosuke)>
/ ----------------------------------------------
/ variables --------------------
ruby:

/ title ------------------------
blockquote = Calculators.dig(:symplectic, :title)

/ list -------------------------
h4 Choose a calculator

ul.list-group
  - Calculators.dig(:symplectic, :sub).each do |key|
    li.list-group-item
      a href=Calculators.dig(key, :path) = Calculators.dig(key, :name)

/ End of file -------------------------
